@font-face {
    font-family: 'PlusSans';
    src: url(../fonts/PlusJakartaSans-Bold.ttf);
}

* {
    box-sizing: border-box;

}

img {
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

:root {
    --black: rgb(17, 25, 39);
    --gray: rgb(108, 115, 127);
    --white: rgb(255, 255, 255);
    --blue: rgb(99, 102, 241);

}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: rgb(28 37 54);
    display: flex;
    flex-direction: column;
    color: rgb(127 135 146);
}

.scroll {
    overflow: auto;
    padding: 20px;
    visibility: hidden;
    transition: all 300ms;
}

.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    height: 35%;
    border-radius: 5px;
}

.scrollinner,
.scroll:hover {
    visibility: visible;
}

.main {
    width: 82%;
    margin-left: 18%;
}

.main h1 {
    font-family: PlusSans;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.098);
}

header>div:first-child {
    display: flex;
    flex-wrap: wrap;
}

.order-list-detail-flex {
    display: flex;
    flex-wrap: wrap;
}

.orderbox {
    width: 95%;
    margin: auto;
}

.order-list-hr {
    margin: 0;
    border: 1px solid rgb(242, 244, 247);
}

.order-list-row1 {
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 24px 25px;
}

.order-list-row1 h1 {
    margin: 0;
}

.order-list-row1 button {
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(41, 112, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    font-family: PlusSans;

}

.order-list-row1 button:hover {
    cursor: pointer;
}

.order-list-row1 button>span {
    margin-left: 8px;
}


.order-main>input[type="radio"] {
    display: none;
}

.order-list-row2 {
    position: relative;
    width: 100%;
    justify-content: left;
    margin-top: 15px;
    padding-left: 25px;
}

.order-list-row2>label {
    display: block;
    font-size: 14px;
    padding: 12px 24px 12px 0px;
    cursor: pointer;
}

.order-list-row2>.order-slider {
    position: absolute;
    height: 100%;
    width: 2%;
    bottom: 0;
    border-bottom: 2px solid rgb(41, 112, 255);
    transition: all 0.3s ease;
}

#all:checked~nav>label[for="all"],
#completed:checked~nav>label[for="completed"],
#cancelled:checked~nav>label[for="cancelled"],
#pending:checked~nav>label[for="pending"],
#rejected:checked~nav>label[for="rejected"] {
    color: rgb(41, 112, 255);
}

#all:checked~nav .order-slider {
    left: 24px;
}

#completed:checked~nav .order-slider {
    left: 63px;
    width: 7%;
}

#cancelled:checked~nav .order-slider {
    left: 9.6em;
    width: 7%;
}

#pending:checked~nav .order-slider {
    left: 15.3em;
    ;
    width: 6%;
}

#rejected:checked~nav .order-slider {
    left: 20.3em;
    width: 6%;
}

.order-list-row3 {
    display: grid;
    grid-template-columns: 88% 10%;
    justify-content: space-between;
    padding: 24px 25px;
    align-items: center;
}

.order-list-row3-col1,
.order-list-row3-col2 {
    position: relative;
}

.order-search {
    width: 100%;
    padding: 16.5px 14px 16.5px 40px;
    font-size: 14px;
    border: 1px solid rgb(235, 235, 236);
    outline-color: rgb(41, 112, 255);
    border-radius: 10px;
}

.order-search:hover,
.order-list-row3-col2 select:hover {
    background-color: rgb(243, 243, 246);
}

.order-search~img {
    display: block;
    position: absolute;
    top: 12px;
    left: 5px;
}

.order-list-row3-col2 select {
    width: 100%;
    padding: 25px 15px 8px 12px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid rgb(235, 235, 236);
    outline-color: rgb(41, 112, 255);
}

.order-list-row3-col2 label {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: small;
    color: rgb(126 126 131);
}

.order-list-row3-col2 option {
    font-size: 14px;
}

#order-drop:focus~label[for="order-drop"] {
    color: rgb(41, 112, 255);
}

.order-list-content {
    display: grid;
    grid-template-columns: 20% 10%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    border-top: 1px solid rgb(242, 244, 247);
    border-bottom: 1px solid rgb(242, 244, 247);
}

.order-list-content:hover {
    background-color: rgb(242, 244, 247);
}

.order-list-content-row {
    display: grid;
    grid-template-columns: 23% 70%;
    justify-content: space-between;
    align-items: center;
}

.order-list-content-row>div:first-child {
    background-color: rgb(229, 231, 235);
    border-radius: 20px;
    padding: 8px;
    line-height: 1.57;
}


.order-list-content-row>div:first-child>h4:first-child {
    margin: 0;
    font-size: 14px;
}

.order-list-content-row>div:first-child>h4:last-child {
    margin: 0;
    font-size: 18px;
}

.order-list-content-row>div:last-child {
    line-height: 1.57;
}

.order-list-content-row>div:last-child>p:first-child {
    margin: 0;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.order-list-content-row>div:last-child>p:last-child {
    margin: 0;
    color: rgb(150, 150, 152);
    font-size: 0.875rem;
}

.order-list-content>div:last-child {
    font-size: 0.75rem;
    border-radius: 12px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 5px 8px;
}

.order-pending {
    background-color: rgba(6, 174, 212, 0.12);
    color: rgb(14, 112, 144);
}

.order-completed {
    background-color: rgba(16, 185, 129, 0.12);
    color: rgb(11, 129, 90);
}

.order-cancelled {
    background-color: rgba(247, 144, 9, 0.12);
    color: rgb(181, 71, 8);
}

.order-rejected {
    background-color: rgba(240, 68, 56, 0.12);
    color: rgb(180, 35, 24);
}

.order-list-page p {
    font-size: 14.5px;
}

.order-content {
    display: none;
}

#all:checked~.order-next>.order-list-content,
#rejected:checked~.order-next>.rejected,
#pending:checked~.order-next>.pending,
#completed:checked~.order-next>.completed,
#cancelled:checked~.order-next>.cancelled {
    display: grid;
}

#rejected:checked~.order-next1>.rejected,
#pending:checked~.order-next1>.pending,
#completed:checked~.order-next1>.completed,
#cancelled:checked~.order-next1>.cancelled {
    display: grid;
}

#next-page1:checked~.order-next {
    display: none;
}

#next-page1:checked~.order-next1>.order-list-content {
    display: grid;
}

.order-list-page>label>p {
    font-size: larger;
    font-weight: bolder;
    color: rgb(150, 150, 152);
}

#next-page:checked~.order-list-page label[for="next-page"]>p,
#next-page1:checked~.order-list-page label[for="next-page1"]>p {
    color: black;
}

/* #completed:checked~.order-list-page>label:disabled */
/*----details---------*/
.details-body {
    display: flex;
    flex-direction: column;
}

.details-row2>a {
    text-decoration: none;
    color: black;
}

.details-row4 hr,
.details-row5 hr {
    border: thin solid rgb(242, 244, 247);
}

.details-row2 h4 {
    margin: 0;
}

.details-row3 {
    justify-content: space-between;
    flex-grow: 1;
    padding: 30px 0px;
    align-items: center;
    font-family: PlusSans;
}

.details-row3 h1 {
    margin: 0;
}

.details-row3 p {
    margin: 0;
    font-size: small;
    color: #6c737f;
}

.details-row3-col1>div {
    justify-content: space-between;
}

.details-row3-col1 {
    width: 25%;
}

.details-row3-col2 {
    width: 25%;
}

.details-row3-col2>button:first-child {
    background-color: transparent;
    border: none;
    color: black;
    padding: 9px 16px;
    cursor: pointer;
}

.details-row3-col2>button i {
    margin-left: 5px;
}

.details-row3-col2>button:last-child {
    background-color: rgb(41, 112, 255);
    color: white;
    border-radius: 12px;
    padding: 9px 16px;
    border: none;
    cursor: pointer;
}

.details-row4,
.details-row5,
.details-row6 {
    border: solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(107, 104, 104, 0.3);
    margin: 20px 0px;
}

.details-row4>div {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: start;
    padding: 8px 20px;
}

.details-row4>div:first-child,
.details-row5>div:first-child,
.details-row6>div:first-child {
    font-weight: bold;
    font-size: large;
}

.details-row4>div>div:first-child {
    font-weight: 600;
    font-size: 14px;
}

.details-row4>div>div:last-child {
    line-height: 20px;
}

.details-row4>div>div>p:first-child {
    font-weight: 600;
}

.details-row4>div p,
.details-row5>div p {
    margin: 0;
    font-size: 14px;

}

.details-row4>div:last-child>div:last-child {
    position: relative;
}

.details-row4>div:last-child>div:last-child label {
    position: absolute;
    top: 0;
    left: 12px;
    font-size: x-small;
    font-weight: 600;
    color: rgb(126 126 131);
}

#details-dropdown:focus~label[for="details-dropdown"] {
    color: rgb(41, 112, 255);
}

.details-row4>div>div select {
    width: 80%;
    padding: 15px 8px;
    border: thin solid rgb(225, 225, 226);
    border-radius: 8px;
    outline-color: rgb(41, 112, 255);
}

.details-row4>div>div button {
    background-color: rgb(41, 112, 255);
    color: white;
    border-radius: 12px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    font-family: PlusSans;
    margin-left: 20px;
}

.details-row5>div:not(.details-row5>div:last-child) {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    justify-content: start;
    padding: 8px 20px;
}

.details-row5>div>div {
    font-weight: 600;
    font-size: 0.875rem;
}

.details-row5>div:last-child,
.order-list-page {
    display: grid;
    grid-template-columns: 12% 5% 10% 3% 3%;
    justify-content: right;
    padding: 15px 0px;
    align-items: center;
}

.details-row5>div:last-child>p:nth-of-type(2),
.order-list-page>p:nth-of-type(2) {
    margin-left: 15px;

}

.details-row5>div:last-child>p:nth-of-type(3),
.details-row5>div:last-child>p:nth-of-type(4),
.order-list-page>p:nth-of-type(3),
.order-list-page>p:nth-of-type(4) {
    font-size: large;
    color: #6c737f;
}

.details-row5>div:last-child>select,
.order-list-page>select {
    border: none;
    background-color: rgb(248, 249, 250);
    padding: 5px 3px;
    outline: none;
}

.details-row5>div:hover {
    background-color: rgb(237, 238, 239);
}

.details-row6>div:not(.details-row6>div:last-child) {
    display: grid;
    grid-template-columns: 8% 92%;
    padding: 0px 20px;
    align-items: start;
}

.details-row6>div:first-child {
    margin: 20px 0px;
}

.details-row6>div>div>pre {
    width: 16%;
    height: 30px;
    border-right: 2px solid grey;
}

.details-row6>div>div>p:first-child {
    margin: 0;
    font-size: 15px;

}

.details-row6>div>div>p:last-child {
    margin: 0;
    font-size: 12px;
    color: #6c737f;
}

.details-row6>div:last-child {
    text-align: center;
    margin: 20px 0px;
}

.details-row6>div:last-child button {
    color: black;
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 0.875rem;
}

.details-row6>div:last-child button:hover {
    cursor: pointer;
    background-color: rgb(237, 238, 239);
    border-radius: 10px;
}