@font-face {
    font-family: 'PlusSans';
    src: url(fonts/PlusJakartaSans-Bold.ttf);
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: rgb(28 37 54);
    display: flex;
    flex-direction: column;
    color: rgb(127 135 146);
}

.scroll {
    overflow: auto;
    padding: 20px;
    visibility: hidden;
    transition: all 300ms;
}

.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(157, 164, 174, 0.516);
    height: 35%;
    border-radius: 5px;
}

.scrollinner,
.scroll:hover {
    visibility: visible;
}

.main {
    width: 82%;
    margin-left: 18%;

}

/************************** SANJAY KUMAR L **********************/

.invoice {
    font-family: Inter;
    width: 90%;
    margin: auto;
}

.in {
    display: grid;
    grid-template-columns: 30% 20%;
    justify-content: space-between;
    align-items: center;
}

.in .but {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;

}

.in button {
    background-color: rgba(99, 102, 241, 1);
    color: white;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px 5px;
    text-align: center;
    cursor: pointer;
}

.but button:first-child {
    background-color: #ffffff;
    border: 1px white;
    color: #050505;
}

.but button:hover {
    background-color: rgba(99, 102, 241, 0.2);
}

.gri-3 {
    font-family: plusSans;
    display: grid;
    grid-template-columns: repeat(3, 31%);
    justify-content: space-between;
}

.invo {
    display: grid;
    grid-template-columns: 20% 75%;
    justify-content: space-between;
    align-items: center;
    border: solid 1px rgb(241, 237, 237);
    border-radius: 20px;
    padding: 20px;
    color: gray;
    line-height: 1.6;
}

.invo>div:first-child {
    padding: 12px;
    border-radius: 50%;
    text-align: center;
}

.invo>div:last-child>div:nth-child(2) {
    color: black;
    font-weight: 800;
    font-family:"Inter"
}

.invo>div:last-child>div:not(:nth-child(2)) {
    font-family: Inter;
    font-weight: 400;
}

.cancel {
    padding: 0 0 40px 0;
}

.cancel h6 {
    font-size: 1em;
    color: gray;
    /* text-align: justify; */
}

.prepaid {
    font-family: Inter;
    border: 1px solid #f2f4f7;
    border-radius: 20px;
    /* padding: 20px o; */
    box-shadow: 2px 2px 10px 1px #f2f4f7;
}

.prepaid>div:not(:last-child) {
    border-bottom: 1px solid #f2f4f7;
}

.prepaid>div {
    padding: 0 10px;
}

.paid {
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 10% 10%;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;

}

.as {
    display: grid;
    grid-template-columns: 20% 74%;
    justify-content: space-between;
    align-items: center;

}

.as>div:first-child {
    background-color: rgb(206, 199, 199);
    border-radius: 50%;
    text-align: center;
    padding: 7px;
}

.as>div:last-child {
    padding: 10px;
}

.paid>div p:last-child {
    color: grey;
    font-weight: 400;
}

.paid>div:nth-child(5) button {
    color: #0b815a;
    background-color: #e2f6f0;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: 0.9em;
    font-weight: 600;
}

.paid>div:nth-child(6) i:hover {
    background-color: #dce0df;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.pending .paid>div:nth-child(5) button {
    color: #b54708;
    background-color: #fef2e1;
    font-size: 0.8em;
}

.rp {
    padding: 20px 0;
    text-align: right;
    color: gray;
    font-size: small;
    justify-content: end;
}

/************************** SANJAY KUMAR L *********************/
#ins{
    padding: 10px 0;
}
#ins a{
    text-decoration: none;
    color: black;
}
#ins a:hover{
    text-decoration:underline;
}
.in .as>div:first-child{
    font-weight: 800;
    padding: 15px;
}
.in .as>div:nth-child(2)>p{
    margin: 0;
}
.in .as>div:nth-child(2)>:first-child{
    font-size: 2em;
    font-weight: 800;
}
.in .as>div:nth-child(2)>:last-child,.issue-bill>:last-child p{
    color: gray;
}
.in-in{
    padding: 30px 0;
}
.in-in~hr{
    border:solid 1px #f2f4f7 ;
    margin: 0 6px ;
}
.list-bill,.prepaid{
    padding: 30px 0;
}
.issue-bill{
    display: grid;
    grid-template-columns: repeat(4,20%);
    justify-content: space-between;
    align-items: center;
}
.issue-bill>:last-child{
    text-align: right;
}
.issue-bill>:last-child h3{
    font-size: 2em;
    color: #0b815a;
    margin: 0;
}
.list-bill>.prepaid>div:not(:last-child){
    border-bottom:none;
}
.list-bill .prepaid>div{
    padding: 0 40px;
}
.list-bill .prepaid>.issue-bill{
    padding: 20px 46px;
}
.list-bill>.prepaid>.issue-bill .tis{
    grid-column: span 2;
}
.desc{
    display: grid;
    grid-template-columns: 10% 50% 10% 18% 18%;
    justify-content: space-between;
}
.desc1>div{
    padding: 20px 0;
}
.prepaid.desc>:last-child{
    text-align: right;
}
.desc>:last-child{
    grid-column: span 4;
}

